@model InventoryManagementSystem.Models.Product
@{
    ViewBag.Title = "EditProduct";
    Layout = "~/Views/Shared/_TemplateLayout.cshtml";
}

@using InventoryManagementSystem.Helpers;
<link href="~/Content/datatables.min.css" rel="stylesheet" />
<script src="~/Scripts/Products/Products.js"></script>

<style>
    .button {
        border-radius: 20px;
    }

    a {
        color: black;
    }
</style>

<div class="main-content">
    <section class="section">
        <div class="section-header">
            <h3>Product</h3>
            <div class="section-header-breadcrumb">
                <div class="breadcrumb-item active">Product</div>
                <div class="breadcrumb-item"><a href="@Url.Action("GetAllProducts", "Products")">Product List</a></div>
            </div>
        </div>
        <div class="section-body">
            <div class="row">
                <div class="col-12 col-md-12 col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            <h4>Edit Product</h4>
                        </div>
                        <div class="card-body" style="align-items:center">
                            <section class="section">
                                <div class="container mt-auto">
                                    <div class="row">
                                        <div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-8 offset-lg-2 col-xl-8 offset-xl-2">
                                            <div class="card card-primary">
                                                <div class="card-body">
                                                    <span class="help-block">
                                                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                                    </span>
                                                    <div class="row">
                                                        <div class="form-group col-12">
                                                            <label class="required">Product Name</label>
                                                            @Html.TextBoxFor(m => m.ProductName, new { @class = "form-control", id = "ProductName", maxlength = 40, placeholder = "Enter Product Name", @readonly = "readonly" })
                                                            @Html.ValidationMessageFor(m => m.ProductName, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="form-group col-12">
                                                            <label for="workRequestTitle" class="required">Supplier</label><br />
                                                            @Html.DropDownList("Supplier_ID", null, "Select Supplier", htmlAttributes: new { @class = "form-control", @disabled = "disabled" })
                                                            <div class="invalid-feedback">
                                                                Please Select Supplier
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="form-group col-12">
                                                            <label for="workRequestTitle" class="required">Category</label><br />
                                                            @Html.DropDownList("Category_ID", null, "Select Category", htmlAttributes: new { @class = "form-control", @disabled = "disabled" })
                                                            <div class="invalid-feedback">
                                                                Please Select Category
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="form-group col-12">
                                                            <label class="required">Product Status</label>
                                                            @Html.TextBoxFor(m => m.Product_Status, new { @class = "form-control", id = "ProductStatus", maxlength = 20, placeholder = "Enter Product Status" })
                                                            @Html.ValidationMessageFor(m => m.Product_Status, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="form-group col-12">
                                                            <label for="workRequestTitle" class="required">Product Location</label><br />
                                                            @Html.TextBoxFor(m => m.Product_Location, new { @class = "form-control", id = "ProductLocation", placeholder = "Enter Product Location", @readonly = "readonly" })
                                                            @Html.ValidationMessageFor(m => m.Product_Location, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                    <div class="row">

                                                        <div class="form-group col-12">
                                                            <label for="workRequestTitle" class="required">Product Warranty</label><br />
                                                            @Html.TextBoxFor(m => m.Product_Warranty, new { @class = "form-control", id = "ProductWarranty", placeholder = "Enter Warranty", @readonly = "readonly" })
                                                            @Html.ValidationMessageFor(m => m.Product_Warranty, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="form-group col-12">
                                                            <label for="workRequestTitle" class="required">Product Date Captured</label><br />
                                                            @Html.TextBoxFor(m => m.Product_Date_Captured, new { @class = "form-control", id = "ProductDateCaptured", placeholder = "Enter Captured Date", @readonly = "readonly" })
                                                            @Html.ValidationMessageFor(m => m.Product_Date_Captured, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>

                                                    <div class="row form-group">
                                                        <div class="col-md-4"></div>
                                                        <div class="col-md-5">
                                                            <input type="button" onclick="UpdateProduct('@TempData["ID"]')" id="btnSubmit" class="btn btn-block btn-success" value="Add" />
                                                        </div>

                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>


                    </div>
                </div>
            </div>

        </div>


    </section>
</div>
