<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
    <title> &mdash; InventoryManagementSystem</title>
    <!-- General CSS Files -->
    @Styles.Render("~/bundles/sweetAlert2/css")
    <link href="~/Content/bootstrap4_3.min.css" rel="stylesheet" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <!-- CSS Libraries -->
    <link rel="stylesheet" href="../assets/modules/bootstrap-social/bootstrap-social.css">
    <link rel="stylesheet" href="../assets/modules/dropzonejs/min/dropzone.min.css">
    <link href="~/assets/modules/select2/dist/css/select2.css" rel="stylesheet" />
    <link href="~/assets/modules/select2/dist/css/select2-bootstrap.css" rel="stylesheet" />
    <link href="~/assets/modules/select2/dist/css/select2.css" rel="stylesheet" />
    <link rel="stylesheet" href="../assets/modules/izitoast/css/iziToast.min.css">
    <!-- Template CSS -->
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="stylesheet" href="../assets/css/components.css">
</head>
<body>
    <style type="text/css">
        .help-block ul {
            list-style-type: none;
            padding: 0;
        }

        .required:after {
            content: " *";
            font-weight: normal;
            color: red;
        }
    </style>
    @RenderBody()

    @RenderSection("scripts", required: false)
    <!-- General JS Scripts -->
    @*<script src="~/Scripts/jquery-1.10.2.js"></script>*@
    @Scripts.Render("~/bundles/sweetAlert2/js")


    @*<script src="~/Scripts/jquery-1.10.2.min.js"></script>*@
    <script src="~/Scripts/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
    <script src="~/Scripts/popper.min.js" crossorigin="anonymous"></script>
    <script src="~/Scripts/bootstrap4.min.js" crossorigin="anonymous"></script>
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")
    <script src="~/Scripts/jquery.nicescroll.min.js"></script>
    <script src="~/Scripts/moment.min.js"></script>
    <script src="../assets/js/stisla.js"></script>
    <!-- JS Libraies -->
    <script src="../assets/modules/izitoast/js/iziToast.min.js"></script>
    <!-- Template JS File -->
    <script src="../assets/js/scripts.js"></script>
    <script src="../assets/js/custom.js"></script>
    <script src="../assets/js/page/bootstrap-modal.js"></script>
    @*<script src="../assets/js/page/components-multiple-upload.js"></script>*@
    <script src="../assets/modules/select2/dist/js/select2.min.js"></script>

    <!-- Page Specific JS File -->
    <script src="../assets/js/page/modules-toastr.js"></script>

</body>
</html>
